#selected-view {
	margin-top: 20px;
	display: block;
}

#glyph-list li, #selected-glyph-list li {
	display: block;
	float: left;
	box-shadow: 0px 3px 5px rgba(0,0,0,.25);
	padding: 10px 5px 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	color: #666;
}

#glyph-list li i, #selected-glyph-list li i {
	font-size: 21pt;
}

#glyph-list li.selected, #selected-glyph-list li.selected {
	box-shadow: 0px 0px 10px #08c;
	background-color: #c7e7ff;
	color: #000;
}	

#glyph-list li:hover, #selected-glyph-list li:hover {
	background-color: #dff1ff;
	color: #000;
}

#drawer-container {
	position: fixed;
	bottom: 0;
	min-height: 100px;
	max-height: 50%;
	width: 100%;
	background: #ccc;
	box-shadow: inset 0 5px 10px rgba(0,0,0,.25);
	overflow: visible;
}

#drawer {
	margin: 10px auto 0;
	padding: 10px;
	list-style-type: none;
}

#drawer li {
	float: left;
	font-size: 24pt !important;
	background: #eee;
	border-radius: 4px;
	padding: 15px 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	box-shadow: 0px 2px 6px rgba(0,0,0,.5);
	cursor: pointer
}

#drawer li:hover {
	box-shadow: 0px 2px 6px #08c;
}

#drawer li:active {
	box-shadow: 0px 1px 2px rgba(0,0,0,.25);
	margin-top: 2px;
}

/**** CONVENIENCE STYLES ****/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}