<div ng-show="loading" class="loading">
  <div class="box" icn-spinner>Generating...</div>
</div>

<div class="header">
  <h1 class="pull-left">icnfnt</h1>
  <span class="pull-left tagline">Create custom <a href="http://fortawesome.github.com/Font-Awesome/">FontAwesome 4.0.3</a> icon-font kits</span>
  <a class="pull-right about" ng-click="about=true">About this project</a>
</div>

<div class="control-bar">
  <h2>1. Choose your icons </h2>
  <div class="all-none">
    <a class="js-btn-all" ng-click="selectAll()">Select All</a>
    <span> | </span>
    <a class="js-btn-none" ng-click="selectNone()">None</a>
  </div>
  <input type="text" class="pull-right input-medium" ng-model="query" placeholder="Filter Icons...">
  <i class="pull-right clear-query fa fa-remove-sign fa-lg" ng-show="query" ng-click="query=null"></i>
  <div class="btn-group pull-right">
    <button class="btn" ng-class="{active:compact}" ng-click="compact = true">Compact View</button>
    <button class="btn" ng-class="{active:!compact}" ng-click="compact = false">Full View</button>
  </div>
</div>

<div class="builder">
  <div ng-hide="(categories['Web Application Icons'] | filter:query).length == 0">
    <h2>Web Application Icons</h2>
    <ul class="glyph-section">
      <li ng-repeat="glyph in categories['Web Application Icons'] | filter:query"
          ng-class="{selected:glyph.selected, square:compact}" 
          ng-click="toggleGlyphSelected(glyph)">
        <i class="fa fa-{{glyph.id}}"></i>
        <span>{{glyph.id}}</span>
      </li>
    </ul>
  </div>

  <div ng-hide="(categories['Form Control Icons'] | filter:query).length == 0">
    <h2>Form Control Icons</h2>
    <ul class="glyph-section">
      <li ng-repeat="glyph in categories['Form Control Icons'] | filter:query"
          ng-class="{selected:glyph.selected, square:compact}" 
          ng-click="toggleGlyphSelected(glyph)">
        <i class="fa fa-{{glyph.id}}"></i>
        <span>{{glyph.id}}</span>
      </li>
    </ul>
  </div>

  <div ng-hide="(categories['Currency Icons'] | filter:query).length == 0">
    <h2>Currency Icons</h2>
    <ul class="glyph-section">
      <li ng-repeat="glyph in categories['Currency Icons'] | filter:query" 
          ng-class="{selected:glyph.selected, square:compact}" 
          ng-click="toggleGlyphSelected(glyph)">
        <i class="fa fa-{{glyph.id}}"></i>
        <span>{{glyph.id}}</span>
      </li>
    </ul>
  </div>

  <div ng-hide="(categories['Text Editor Icons'] | filter:query).length == 0">
    <h2>Text Editor Icons</h2>
    <ul class="glyph-section">
      <li ng-repeat="glyph in categories['Text Editor Icons'] | filter:query" 
          ng-class="{selected:glyph.selected, square:compact}" 
          ng-click="toggleGlyphSelected(glyph)">
        <i class="fa fa-{{glyph.id}}"></i>
        <span>{{glyph.id}}</span>
      </li>
    </ul>
  </div>

  <div ng-hide="(categories['Directional Icons'] | filter:query).length == 0">
    <h2>Directional Icons</h2>
    <ul class="glyph-section">
      <li ng-repeat="glyph in categories['Directional Icons'] | filter:query"
          ng-class="{selected:glyph.selected, square:compact}" 
          ng-click="toggleGlyphSelected(glyph)">
        <i class="fa fa-{{glyph.id}}"></i>
        <span>{{glyph.id}}</span>
      </li>
    </ul>
  </div>

  <div ng-hide="(categories['Video Player Icons'] | filter:query).length == 0">
    <h2>Video Player Icons</h2>
    <ul class="glyph-section">
      <li ng-repeat="glyph in categories['Video Player Icons'] | filter:query"
        ng-class="{selected:glyph.selected, square:compact}" 
        ng-click="toggleGlyphSelected(glyph)">
        <i class="fa fa-{{glyph.id}}"></i>
        <span>{{glyph.id}}</span>
      </li>
    </ul>
  </div>

  <div ng-hide="(categories['Brand Icons'] | filter:query).length == 0">
    <h2>Brand Icons</h2>
    <ul class="glyph-section">
      <li ng-repeat="glyph in categories['Brand Icons'] | filter:query"
          ng-class="{selected:glyph.selected, square:compact}" 
          ng-click="toggleGlyphSelected(glyph)">
        <i class="fa fa-{{glyph.id}}"></i>
        <span>{{glyph.id}}</span>
      </li>
    </ul>
  </div>

  <div ng-hide="(categories['Medical Icons'] | filter:query).length == 0">
    <h2>Medical Icons</h2>
    <ul class="glyph-section">
      <li ng-repeat="glyph in categories['Medical Icons'] | filter:query"
          ng-class="{selected:glyph.selected, square:compact}" 
          ng-click="toggleGlyphSelected(glyph)">
        <i class="fa fa-{{glyph.id}}"></i>
        <span>{{glyph.id}}</span>
      </li>
    </ul>
  </div>
  <div class="row copyright">Icnfnt copyright &copy; 2012 Grant Gordon.  All rights reserved.</div>
</div>

<div class="tray">
  <h2>2. Download your kit</h2>
  <div class="explanation">Includes Fonts (otf, ttf, eot, woff) and styles (css, less, sass, scss.)</div>
  <div id="download" ng-click="downloadNow()">
    <button class="btn btn-large btn-success btn-download btn-block"><i class="fa fa-download fa-lg"></i> &nbsp;Download Now</button>
  </div>
  <div class="selected-set">
      <div class="placeholder" ng-hide="selected.length > 0">
        <i class="fa fa-flag"></i>
        Click icons on the left to build your kit.
      </div>
      <div  class="glyph"
            ng-click="toggleGlyphSelected(glyph)"
            ng-repeat="glyph in selected | reverse"
            ng-class="{square:compact}"
            ng-animate="'repeat'">
        <i class="fa fa-{{glyph.id}}"></i><span> .fa-{{glyph.id}}</span>
        <i class="fa fa-remove-sign remove-indicator"></i>
      </div>
  </div>
</div>

<div class="about-project" ng-click="about=false" ng-show="about">
  <div class="info-panel">
      <div style="padding: 20px;">
        <a class="pull-right close-link">Close</a>
        <h3>About icnfnt</h3>
        <p>The official subsetting tool of FontAwesome!</p>
        <p>Many of Grant and Clay's clients wanted to use the fantastic <a href="http://fortawesome.github.com/Font-Awesome/">FontAwesome Icon Font</a>, but didn't want to make their users download more icons than necessary.</p>
        <p>Icnfnt was originally a weekend project built to solve this problem. Since it worked so well, Grant and Clay decided to put it online for anyone to use.</p>
        <p>Built with <a href="http://www.angularjs.org">Angular.js</a>, <a href="http://twitter.github.com/bootstrap">Bootstrap</a>, <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://fontforge.org/">FontForge</a>, and lots of pizza.</p>
        <p><a href="https://github.com/johnsmclay/icnfnt">Fork icnfnt on github.</a></p>
      </div>
      <div class="clearfix bottom-half">
        <div class="span4">
          <a class="grantpic" href="http://www.linkedin.com/in/grantjgordon"> </a>
          <h4>
            <span>About Grant </span>
            <a href="https://github.com/grantgordon"><i class="fa fa-github-alt"></i></a>
            <a href="http://www.linkedin.com/in/grantjgordon"><i class="fa fa-linkedin-sign"></i></a>
            <a href="http://www.twitter.com/grantgordon"><i class="fa fa-twitter"></i></a>
          </h4>

          <p>Grant Gordon is a designveloper who currently designs UX, Product, and Identity at <a href="http://www.rationalux.com">RationalUX</a> while searching for his next startup.</p>
          <p>Previously he served as the VP of Product and as a Software Engineer for EnticeLabs (acquired in 2010.)</p>
          <p>He likes Python, Node.js, Less, Photoshop, Balsamiq, Cat Pictures, and Diet Coke.</p>
          <p>Sometimes he <a href="http://www.grantjgordon.com">writes things</a>.</p>
        </div>
        <div class="span4">
          <a class="claypic" href="http://www.linkedin.com/pub/m-clay-johns/7/473/bb9"> </a>
          <h4>
            <span>About Clay</span>
            <a href="https://github.com/johnsmclay"><i class="fa fa-github-alt"></i></a>
            <a href="http://www.linkedin.com/pub/m-clay-johns/7/473/bb9"><i class="fa fa-linkedin-sign"></i></a>
            <a href="https://twitter.com/johnsmclay"><i class="fa fa-twitter"></i></a>
          </h4>
          <p>Clay Johns specializes in infrastructure, big data, and scaling systems and consults for startups around the country.</p>
          <p>Previously he ran Dev Ops at EnticeLabs.</p>
          <p>He likes Hadoop, Python, OpenStack, Sublime Text 2, and Doctor Who.</p>
        </div>
    </div>
  </div>
</div>
