<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>HTML5 boilerplate—all you really need…</title>
	<link rel="stylesheet" type="text/css" href="fontawesome.css" />
	<style type="text/css">
	body {
		font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
	}
	h1 {
		font-size: 14pt;
	}
	</style>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">