<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>HTML5 boilerplate—all you really need…</title>
	<link rel="stylesheet" type="text/css" href="fontawesome.css" />
	<style type="text/css">
	body {
		font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
	}
	table {
		border: 0;
		font-size: 14pt;
		font-weight: bold;
		width: 400px;
	}
	table i {
		font-size: 21pt;
		font-weight: normal;
	}
	table td {
		padding: 3px;
	}
	</style>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">
	<table cellpadding="0" cellspacing="0">