<span class="remove icon-remove-sign"></span>
<span><i class="icon-<%= name %> icon-large"></i> icon-<%= name %></span>
<div class="popover-content hide">
	<div class="section">
		<span class="icon-shopping-cart"> icon-shopping-cart</span>
	</div>
	<div class="section borders">
		<i class="icon-shopping-cart size-42px"></i>
		<i class="icon-shopping-cart size-28px"></i>
		<i class="icon-shopping-cart size-16px"></i>
		<i class="icon-shopping-cart size-12px"></i>
	</div>
	<div class="section">
		<button class="btn icon-shopping-cart"> Button</button>
	</div>
</div-->